<div class="container">
<form>
  
  <div class="form-group">
    <label>Location</label>
    <select class="form-control" placeholder="Choose Location" ng-model="locanat">
    	<option>Boston</option>
    	<option>New York</option>
    	<option>Chicago</option>
    	<option>San Francisco</option>
    </select>
  </div>

<div class="form-group">
    <label>Date Depart</label>
    <input type="date" class="form-control" placeholder="Last Name" ng-model="deps">
  </div>

  <div class="form-group">
    <label>Date Return</label>
    <input type="date" class="form-control" placeholder="Email" ng-model="reps">
  </div>

</form>
<a class="btn btn-primary" ng-href="#/step3" ng-click="stdats2()">Next</a>
<br><br>
</div>